[Desktop Entry]
Name=Spot
GenericName=File Manager
Comment=Spot — browse files on Ooze
Exec=spot %U
Icon=system-file-manager
Terminal=false
Type=Application
Categories=Utility;FileManager;
StartupNotify=true
StartupWMClass=org.ooze.Spot
MimeType=inode/directory;
X-GNOME-SingleWindow=false
