[Desktop Entry]
Name=File Manager
GenericName=File Manager
Comment=Spot — browse files on Ooze
Exec=spot %U
Icon=org.ooze.Spot
Terminal=false
Type=Application
Categories=Utility;FileManager;
StartupNotify=true
StartupWMClass=org.ooze.Spot
MimeType=inode/directory;
X-GNOME-SingleWindow=false
